.game{
    border: 2px solid black;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: grey;
    color: #fff;
    text-align: center;
}

.choiceBtn {
    font-size: 2rem;
    height: 50px;
    width: 200px;
    font-weight: 500;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}